_build/xbox/gen/main*
_xenia/cache/*
_xenia/xenia.log
_build_xbox - Copy.bat
_xenia/content/45410829/00000002/*
_xenia/content/45410829/00000001/*
_xenia/content/45410829/Headers/*
_build/Xbox/videos
_run_xenia - Copy.bat
